<head>
    <script>
        setTimeout(function() {
            window.location.href = ""+gon.SuccessRED
        }, 5000);
        
    </script>
</head>
<div class = "center success-s">
    <h1>Successful Transaction</h1>
</div>