<head>
    <script>
        setTimeout(function() {
            window.location.replace(gon.successRED)
        }, 5000);
    </script>
</head>
<div class = "center success-s">
    Successful Transaction
</div>