// Place all the styles related to the cart controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.item-box {
    background-color: white;
    border: 5px dotted red;
}
.grid-3-columns{
  margin: auto;
  width: min(90%);
  display:grid;
  grid-template-columns: 24% 24% 24%;
  grid-gap: 5em
}
@media(max-width: 60em) {
    .grid-3-columns{
      grid-template-columns: 33% 33%;
    }
  }

.food-title {
    color:rgb(226, 13, 13);
    font-family: Georgia, serif;
}
.cart-text {
    font-family: Georgia, serif;
    font-size: 500%;
    color:rgb(138, 57, 57);
}
.btn-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.info-form{
    padding-top: 2px;
    padding-bottom: 2px;
}
.text-box {
    width: 250px;
    display: inline-block;
}