// Place all the styles related to the cart controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.item-box {
    border: 5px dotted red;
}
.food-title {
    color:rgb(226, 13, 13);
}
.total {
    font-family: "Times New Roman", Times, serif;
}
.btn-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}