// Place all the styles related to the cart controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.cart-box {
    background-color: white;
    border: 5px dotted red;
    width: 75%;
}
@media(max-width: 60em) {
    .cart-box {
        background-color: white;
        border: 5px dotted red;
        width: 100%;
    }
}
.food-title {
    color:rgb(226, 13, 13);
    font-family: Georgia, serif;
    font-size: 1.5em;
}
.cart-text {
    font-family: Georgia, serif;
    font-size: 500%;
    color: white;
}
.btn-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.info-form{
    padding-top: 2px;
    padding-bottom: 2px;
}
.text-box {
    width: 250px;
    height: 30px;
    padding: 5px;
    display: inline-block;
    border-radius: 4px;
}
.label-form {
    color: white;
}