.title {
    font-size: 1.5em;
    font-family: "Times New Roman", Times, serif;
}

.order_items {
    font-size: 1.5em;
    font-family: "Times New Roman", Times, serif;
    border: 5px dotted red;
}

.e_total {
    font-size: 2em;
    font-family: "Times New Roman", Times, serif;
    color:rgb(255, 0, 0);
}