// Place all the styles related to the Shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
th {
    color:rgb(226, 13, 13);
}
td {
    font-family: "Times New Roman", Times, serif;
    font-size: 150%;
    font-weight: bold;
    color:rgb(0, 0, 0);
    background-color: white;
    border: 5px dotted red;
    padding-top: 2px;
    padding-bottom: 2px;
}
table{
    border: 1px solid black;
    margin-left: 5%;
    margin-right: 5%;
    width: 80%;
}
.shop-text {
    font-family: "Times New Roman", Times, serif;
    font-size: 22%;
    color:rgb(238, 13, 13);
}
.btn-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.image-style {
    width: 540px;
    height: auto;
}