// Place all the styles related to the Shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
th {
    color:rgb(226, 13, 13);
}
td {
    font-family: "Times New Roman", Times, serif;
    font-size: 150%;
    font-weight: bold;
    color:rgb(0, 0, 0);
    background-color: white;
    border: 5px dotted red;
    padding-top: 2px;
    padding-bottom: 2px;
}
table{
    border: 1px solid black;
    margin-left: 5%;
    margin-right: 5%;
    width: 80%;
}
.item-box {
    background-color: white;
    border: 5px solid red;
}
.grid-3-columns{
    margin: auto;
    width: min(90%);
    display:grid;
    grid-template-columns: 26% 26% 26%;
    grid-gap: 5em
  }
  @media(max-width: 60em) {
      .grid-3-columns{
        grid-template-columns: 45% 45%;
      }
    }
.shop-text {
    font-family: "Times New Roman", Times, serif;
    font-size: 22%;
    color:rgb(238, 13, 13);
}
.btn-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.image-style {
    width: 540px;
    height: auto;
}
.item-show-title {
    color: white;
    font-size: 2.5em;
    font-family: Georgia, serif;
}
.item-show-description {
    color: white;
    font-size: 1.5em;
    font-family: Georgia, serif;
}