// Place all the styles related to the successs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.success-s{
    color:rgb(7, 184, 30);
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    font-size: 2.5em;
    border: 5px dotted rgb(11, 209, 37);
}
