<body >
<div class = "center">
    <div class = "text-background social-text"><h1>My Socials</h1></div><br>

    <div class = "column social-box">
        <h2>Instagram: </h2><a href="#">@NeeshzTreatz</a>
    </div> 
    <div class = "column social-box">
        <h2>TikTok: </h2><a href="#">@dneesha143</a>
    </div> 
</div>
</body>