<body >
<div class = "center">
    <div class = "text-background social-text"><h1>My Socials</h1></div><br>

    <div class = "column social-box">
        <h2>Instagram: </h2><a href="#">@NeeshzTreatz</a><br>
        <%= link_to image_tag("instagram.png", style: 'height:100%;width:100%;'), "https://www.instagram.com/NeeshzTreatz" %>
    </div> 
    <div class = "column social-box">
        <h2>TikTok: </h2><a href="#">@dneesha143</a><br>
        <%= link_to image_tag("tik-tok.png", style: 'height:100%;width:150%;'), "https://www.tiktok.com/t/ZTd7y8kJQ/"%>
    </div> 
</div>
</body>